# Arquivos do virtualenv
bin
include
local
lib
man

# Arquivos bytecode
*.pyc
src/*.pyc

# Arquivos temporarios
*.swp
*.bkp
*.~

# Settings local
src/settings_local.py

# Banco de dados local
src/*.db
src/*.sqlite3
src/*.sqlite
