<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    {% block titulo %}
        <title>Aprenda Python</title>
    {% endblock titulo %}
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
  {% block stylesheets %}    
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/base_extended.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/skeleton.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/layout.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/coin-slider-styles.css">
  {% endblock stylesheets %}

    <!-- Fonts
  ================================================= -->
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png">

</head>
<body>



    <!-- Primary Page Layout
    ================================================== -->

    <!-- Delete everything in this .container and get started on your own site! -->

    <div class="container">
        <div class="sixteen columns">
            <img src="{{ STATIC_URL }}images/logo.png" id="logotipo">
            <h1 class="remove-bottom"  style="margin-top: 40px">Aprenda Python</h1>
            <h5 id="subtitulo">Estudando Python do jeito fácil</h5>
            <div id="menu">
                <ul>
                    <li><a href="{% url homepage %}">Home</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Sobre o Projeto</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <hr />
        </div>

        {% block corpo %}{% endblock corpo %}

        <hr />
        <div class="sixteen columns">
            <footer>
                <address>Copyright &copy; 2011 - Gilson #DEV</address>
            </footer>
        </div>
    </div><!-- container -->


    <!-- JS
    ================================================== -->
    {% block scripts %}
        <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
        <script src="{{ STATIC_URL }}javascripts/tabs.js"></script>
    {% endblock scripts %}


<!-- End Document
================================================== -->
</body>
</html>
